<div class="container">
    <div class="Thermostat">
      <div class="ring">
        <div class="nivel"></div>
        <div class="border"></div>
      </div>

      <div class="status">
        <div class="temp" id="currTemp">{{ currTemp }}°</div> <!-- This is the current temp-->
        <!--<div class="temp" id="thermSet">70°</div> <!-- This is what the thermostat is set at-->
        <div class="indicator"></div>
        <div class="outside">70°</div> <!--Could add some text back in here later-->
        <div class="room">Room label</div>
        <div class="mode"></div>
        <div class="fan"></div>
      </div>
    </div>
  </div>
